body {
  background-color: hsl(229, 57%, 11%);
  background-image: url("imagens/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 1px 330px;
  background-size: cover;
  color: aliceblue;
}

/* .box-1 {
  position: relative;
  width: 300px;
  height: 150;
  border-color: hsl(228, 56%, 26%);
  box-shadow: hsl(228, 56%, 26%); 
} */

.logo {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
